.my-specializations {
  /* background-color: var(--clr-dark); */
  /* background-color: #ff69b4;
  background-color: #c32c7f;*/
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("https://i.imgur.com/EptIkkq.jpg"); */
  background-image: url("https://i.imgur.com/E2YBaaQ.jpg");
  /* background-color: url("https://i.imgur.com/vsc3kJR.jpg"); */
  text-align: center;
  opacity: 0.9;
}

.specializations-highlight {
  width: 85vw;
  background-color: whitesmoke;
  /* background: linear-gradient(to top, #ff69b4, #c32c7f, #88004e); */
  opacity: 0.92;
  margin: auto;
  border-style: ridge;
  border-width: 3px;
  padding: 1em;
}

.section__title--services {
  font-size: 3.7vw;
  text-transform: uppercase;
  padding: 25px 0;

  /* color: var(--clr-dark); */
  /* color: #c32c7f; */
}

.section__title--services::after {
  /* content: ""; */
  display: block;
  margin: 0.5em auto 1em;
}

.services {
  /* border: red 2pt solid; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20pt;

  margin: auto;
}

.service {
  border: #88004e 2pt solid;
  /* width: 95%; */
  /* margin: 0 auto; */
}

.service p {
  padding: 0 20px;
}

.service h3 {
  background: linear-gradient(to top, #ff69b4, #c32c7f, #88004e);
  padding: 20px 0;
  margin-bottom: 20px;
  /* text-decoration: underline; */
  /* color: white; */
  font-size: 1.8vw;
}

.specializations-highlight .btn {
  background-color: ##ff69b4;
  color: whitesmoke;
  margin-bottom: 40px;
  margin-top: 25px;
  padding: 10px 20px;
}

.specializations-highlight .btn {
  color: black;
}
@media (max-width: 768px) {
  .my-specializations {
    margin-top: -90px;
  }

  .services {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }

  .section__title--services {
    font-size: 6.2vw;
    color: black;
  }

  .service p {
    font-size: 10px;
  }

  .service h3 {
    color: black;
    font-size: 3.8vw;
  }
}
